@import "compass/css3"
body
  background: #AFCAB9
.centerpiece
  width: 640px
  height: 190px
  margin: 50px auto
  background: #345
  +border-radius(25px 8px 8px 25px)
  position: relative
  h1.hero-head
    font-size: 112px
    font-family: distro
    margin: 0px 0px 0px 20px
    line-height: 128px
    padding-top: 5px
    color: #CEF
    text-shadow: 2px 2px 0px #333
  h4.sub-text
    margin: -20px 0px 0px 95px
    font-family: Pacifico
    font-size: 24px
    color: #ACE
    text-shadow: 1px 1px 0px #000
    span
      color: #F33
      text-shadow: 1px 1px 0px #222

  .chord-lib, .song-book
    height: 92px
    line-height: 68px
    font-size: 30px
    font-family: "Lorimer"
    background: #CEF
    color: #345
    border: 1px solid #456
    width: 100%
    padding: 10px 40px 10px 40px
    margin-bottom: 0px
    margin-left: -3px
    &:hover
      border-left: 1px solid #345
      background: #345
      color: #eee
  .chord-lib
    margin-top: 3px
    +border-radius(0px 5px 0px 0px)
  .song-book
    +border-radius(0px 0px 5px 0px)

  // Front Page Guitar
  .guitar.front
    width: 260px
    right: 1px
    .nut
      .strings
        position: absolute
        right: -260px
        width: 278px
        .bass
          display: none
        &.played, &.unplayed
          &:after
            display: none
    .fretboard
      position: absolute
      right: 5px
      background: #211
      width: 260px
      height: 178px
      top: 6px
      +border-radius(0px 5px 5px 0px)
.beta
  padding-bottom: 20px
  border-bottom: 1px solid rgba(55,66,77,0.3)
  text-align: center
  margin-bottom: 30px
  h1.coming
    font-family: "Lorimer"
    font-size: 80px
    margin: 30px 0px
  h1, h2
    font-family: "Lorimer"
    font-size: 40px
    text-transform: uppercase
  h2
    font-size: 25px
    color: #555
h3.example
  text-align: center
  font-family: "Lorimer"
  color: #555
  margin-bottom: 30px
